.container {
	width: 100%;
	height: 100vh;
	overflow: hidden;
	display: flex;

	.App_left {
		width: 40%;
		height: 100%;
		color: #fff;
		display: flex;
		align-items: center;
		flex-direction: column;
		margin-top: 13em;
	}
	.App_right {
		width: 60%;
		height: 100%;
		background: rgb(4, 1, 27);
		display: flex;
		flex-direction: column;
		padding: 10em 4em;
		padding-right: 1em;

		.command {
			color: #fff;
			display: flex;
			margin-top: 1em;

			.arrow {
				color: rgb(0, 206, 0);
				font-size: 20px;
				margin-right: 10px;
			}
			.comment {
				color: rgb(148, 148, 148);
			}
		}
	}
	h1 {
		margin-bottom: 20px;
		color: royalblue;
		font-size: 40px;
	}
	h4 {
		color: rgb(129, 129, 129);
		margin-top: 30px;
	}
	p {
		margin: 5px 0;
		color: gray;
	}
}
